<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}AdopteUnDev{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/alphabet-icon.png') }}">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
       
         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/materialdesignicons.min.css') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/selectize.css') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/nice-select.css') }}" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        
        {% block stylesheets %}
        {% endblock %}

        
    </head>
    <body>
     <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->
        {% block header %}
            <!-- Navigation Bar-->
            <header id="topnav" class="defaultscroll scroll-active">
                <!-- Tagline Start -->
                <div class="tagline">
                    <div class="container">
                        {# <div class="float-left">
                            <div class="phone">
                                <i class="mdi mdi-phone-classic"></i> +1 800 123 45 67
                            </div>
                            <div class="email">
                                <a href="mailto:support@mail.com">
                                    <i class="mdi mdi-email"></i> Support@mail.com
                                </a>
                            </div>
                        </div> #}

                        {# <div class="float-right">
                            <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                                <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-account mr-2"></i>{{ app.user ? app.user.getusername() : 'Guest' }}</a></li>
                                <li class="list-inline-item">
                                   <select id="select-lang" class="demo-default" onchange="location = this.value;">
                                        <option value="" disabled selected>S'inscrire</option>
                                        <option value="{{ path('app_company_register') }}">Entreprise</option>
                                        <option value="{{ path('app_dev_register') }}">Développeur</option>
                                    </select>

    

                                        <div class="col-12 text-center">
                                            <p class="mb-0 mt-3" style="color: white;">
                                                <small class="mr-2">J'ai déjà un compte</small> <a href="{{ path('app_login') }}" class="font-weight-bold" style="color: white;">Se connecter</a>
                                            </p>
                                        </div>
                                    </select>
                                </li>
                            </ul>
                        </div> #}

                        <div class="float-right">
    <ul class="topbar-list list-unstyled d-flex align-items-center" style="margin: 11px 0px;">
    <!-- Affichage de l'utilisateur -->
    <li class="list-inline-item mr-3">
        <a href="javascript:void(0);" class="text-white">
            <i class="mdi mdi-account mr-2"></i>{{ app.user ? app.user.userIdentifier : 'Guest' }}
        </a>
    </li>
    
    {% if app.user %}
        <!-- Si l'utilisateur est connecté, afficher le bouton de déconnexion -->
        <li class="list-inline-item ml-3">
            <a href="{{ path('app_logout') }}" class="font-weight-bold" style="color: white;">Se déconnecter</a>
        </li>
    {% else %}
        <!-- Si l'utilisateur n'est pas connecté, afficher le sélecteur de langue et le lien de connexion -->
        <li class="list-inline-item">
            <select id="select-lang" class="demo-default" onchange="location = this.value;">
                <option value="" disabled selected>S'inscrire</option>
                <option value="{{ path('app_company_register') }}">Entreprise</option>
                <option value="{{ path('app_dev_register') }}">Développeur</option>
            </select>
        </li>

        <li class="list-inline-item ml-3">
            <p class="mb-0 mt-1" style="color: white;">
                <small class="mr-2">J'ai déjà un compte</small> 
                <a href="{{ path('app_login') }}" class="font-weight-bold" style="color: white;">Se connecter</a>
            </p>
        </li>
    {% endif %}
</ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Tagline End -->

                <!-- Menu Start -->
                <div class="container">
                    <!-- Logo container-->
                    <div>
                        <a href="{{ path('home') }}" class="logo">
                            <img src="{{ asset('images/Adopte1Dev-banners-1.png') }}" alt="" class="logo-light" height="18" />
                            <img src="{{ asset('images/Adopte1Dev-banners-1.png') }}" alt="" class="logo-dark" height="18" />
                        </a>
                    </div>                 
                    {# <div class="buy-button">
                        <a href="{{ path('app_job_add_new') }}" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i>Ajouter une offre</a>
                    </div><!--end login button--> #}
                    <!-- End Logo container-->
                    <div class="menu-extras">
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>
                
                    <div id="navigation">
                        <!-- Navigation Menu-->   
                        <ul class="navigation-menu">
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('app_job_add_index') }}">Offres</a></li>
                             <li><a href="{{ path('app_company_index') }}">Entreprises</a></li>
                            <li><a href="{{ path('app_developer_index') }}">Développeurs</a></li>

                            {# <li class="has-submenu">
                                <a href="javascript:void(0)">Offres</a><span class="menu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="{{ path('app_job_add_index') }}">Mes offres</a></li>
                                    <li><a href="{{ path('app_job_add_new') }}">AJouter une offre</a></li>
                                </ul>
                    
                            </li> #}
                            {# <li class="has-submenu">
                                <a href="javascript:void(0)">Candidates</a><span class="menu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="{{ path('candidates_listing') }}">Candidates Listing</a></li>
                                    <li><a href="{{ path('candidates_profile') }}">Candidates Profile</a></li>
                                    <li><a href="{{ path('create_resume') }}">Create Resume</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0)">Employers</a><span class="menu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="{{ path('employers_list') }}">Employers List</a></li>
                                    <li><a href="{{ path('company_detail') }}">Company Detail</a></li>
                                </ul>
                            </li> #}

                            {# <li class="has-submenu"> 
                                <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                                <ul class="submenu">
                                    <li><a href="{{ path('about') }}">About us</a></li>
                                    <li><a href="{{ path('services') }}">Services</a></li>
                                    <li><a href="{{ path('team') }}">Team</a></li>
                                    <li><a href="{{ path('faq') }}">Faqs</a></li>
                                    <li><a href="{{ path('pricing') }}">Pricing plans</a></li>
                                    
                                    <li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span class="submenu-arrow"></span>
                                        <ul class="submenu">
                                            <li><a href="{{ path('blog_grid') }}">Blogs</a></li>
                                            <li><a href="{{ path('blog_sidebar') }}">Blog Sidebar</a></li>
                                            <li><a href="{{ path('blog_details') }}">Blog Details</a></li>
                                        </ul>  
                                    </li>
                                
                                    <li class="has-submenu"><a href="javascript:void(0)"> User Pages</a><span class="submenu-arrow"></span>
                                        <ul class="submenu">
                                            <li><a href="{{ path('app_login') }}">Login</a></li>
                                            <li><a href="{{ path('signup') }}">Signup</a></li>
                                            <li><a href="{{ path('password_recovery') }}">Forgot Password</a></li>
                                        </ul>  
                                    </li>
                                    <li><a href="{{ path('components') }}"> Components</a></li>
                                </ul>
                            </li> #}
                        
                            <li>
                                {# <a href="{{ path('contact') }}">Contact</a> #}
                            </li>
                        </ul><!--end navigation menu-->
                    </div><!--end navigation-->
                </div><!--end container-->
                <!--end end-->
            </header><!--end header-->
            <!-- Navbar End -->
        {% endblock %}
        {% block body %}{% endblock %}
       
        <!-- JavaScript -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/plugins.js') }}"></script>

            <!-- Selectize JS -->
            <script src="{{ asset('js/selectize.min.js') }}"></script>

            <!-- Nice Select JS -->
            <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>

            <!-- App JS -->
            <script src="{{ asset('js/app.js') }}"></script>

          


          

{% block footer %}
            <!-- footer start -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                        <p class="mt-4"></p>
                        <ul class="social-icon social list-inline mb-0">
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <p class="text-white mb-4 footer-list-title">Company</p>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Marketing</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> CEOs </a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Agencies</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Our Apps</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <p class="text-white mb-4 footer-list-title">Resources</p>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Accounting </a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Billing</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                        </ul>
                    </div>
                
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <p class="text-white mb-4 footer-list-title f-17">Business Hours</p>
                        <ul class="list-unstyled text-foot mt-4 mb-0">
                            <li>Monday - Friday : 9:00 to 17:00</li>
                            <li class="mt-2">Saturday : 10:00 to 15:00</li>
                            <li class="mt-2">Sunday : Day Off (Holiday)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    {% endblock %}
    </body>
</html>
